@import url('https://fonts.googleapis.com/css2?family=Hepta+Slab:wght@1..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hepta+Slab:wght@1..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Sniglet&display=swap');

* {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  padding: 0px;
  margin: 0px;
}

/* ---------- Cabeçalho ---------- */

header {
  height: 140px;
  background-color: #8ad868;
  box-shadow: black 1px 1px 4px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav {
  height: 22px;
  width: 480px;
  display: flex;
  justify-content: space-around;
}

nav > a{
  font-size: 20px;
  text-decoration: none;
  color: white;
}

nav > a:hover {
  color: black;
}

header > h1 {
  padding: 0px 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 > img{
  height: 60px;
  width: 60px;
}

#marca_header {
  font-size: 24px;
  font-family: 'Hepta Slab', serif;
  color: #4A85E8;
}

#slogan_header {
  font-size: 14px;
  color: white;
}

/* ---------- Body ---------- */

article {
  height: 340px;
  background-color: #6C23CC;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

section > h1 {
  font-size: 60px;
  font-family: "Sniglet", sans-serif;
  color: white;
  padding-bottom: 10px;
}

section > p {
  font-size: 22px;
  font-family: "Sniglet", sans-serif;
  color: white;
}

#telemarketing {
  width: 400px;
  height: 300px;
  border-radius: 400px 100px;
}

/* ---------- Ondulação ---------- */

@media ((min-width: 1320px)) {

#onda {
  position: relative;
  padding: 5px;
  height: 230px;
  width: auto;
  background: #6C23CC;
}
#onda:after {
  content: "";
  display: block;
  position: absolute;
  border-radius: 100% 50%;
  width: 740px;
  height: 180px;
  background-color: white;
  right: 0px;
  top: 182px;
}
#onda:before {
  content: "";
  display: block;
  position: absolute;
  border-radius: 100% 50%;
  width: 700px;
  height: 130px;
  background-color: #6C23CC;
  left: 0;
  top: 155px;
}

}

/* ---------- contato ---------- */

#contato {
  height: 200px;
  background-color: white;
}

#contato > div {
  height: 200px;
  width: 1200px;
  margin: auto;
  background-color: white;
  border-radius: 10px;
  box-shadow: black 2px 2px 4px;
  display: flex;
  justify-content: space-evenly;
  align-items: baseline;
  position: relative;
  top: -100px;
  z-index: 1;
}

div > p, dl {
  position: relative;
  top: 15%;
}

#txt_contato {
  width: 240px;
  font-family: "Sniglet", sans-serif;
  font-size: 30px;
  font-weight: 300;
  color: #6C23CC;
}

dt {
  margin-bottom: 14px;
  font-size: 20px;
  font-family: "Sniglet", sans-serif;
  color: red;
}

dd {
  padding: 4px;
  color: #6C23CC;
  font-size: 18px;
}

#fav_contato {
  padding-right: 10px;
  height: 18px;
}

/* ---------- formulário ---------- */

#formulario {
  display: flex;
}

#formulario > h1 {
  margin: auto;
  font-size: 40px;
  font-family: "Sniglet", sans-serif;
  color: #6C23CC;
}

form {
  height: 600px;
  padding: 10px;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}

form > input {
  height: 40px;
  width: 1200px;
  margin: auto;
  padding-left: 20px;
}

#mensagem {
  height: 300px;
  width: 1200px;
  margin: auto;
  resize: none;
  padding-top: 15px;
  padding-left: 20px;
}

#mensagem::placeholder {
  position: absolute;
  top: 15px;
  left: 20px;
}

/* ---------- botão do formulário ---------- */

#botao_enviar{
  width: 300px;
  padding-left: 0px;
  font-family: "Sniglet", sans-serif;
  font-size: 18px;
  color: #6C23CC;
  border-radius: 4px;
}

/* ---------- Dúvidas ---------- */

#duvidas {
  width: 80%;
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 80px;
}

#duvidas_h1 {
  font-family: "Sniglet", sans-serif;
  color: red;
  padding-bottom: 10px;
}

#duvidas_p {
  width: auto;
  padding-bottom: 60px;
  font-size: 40px;
  font-family: "Sniglet", sans-serif;
  color: #6C23CC;
}

#faq_conteiner {
  height: 500px;
  width: 1200px;
  padding: 10px 0px;
  border-radius: 6px;
  background-color: #f3f3f3;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.faq_item {
    width: 1000px;
    margin: auto;
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: hidden;
}

.faq_pergunta {
    background-color: #f0f0f0;
    color: #333;
    padding: 10px;
    width: 100%;
    text-align: left;
    border: none;
    cursor: pointer;
    outline: none;
    transition: 0.3s ease;
    font-family: "Sniglet", sans-serif;
    font-size: 18px;
    color: #6C23CC;
}

.faq_pergunta:hover {
    background-color: #ddd;
}

.faq_resposta {
    padding: 10px;
    display: none;
    background-color: white;
}

.faq_resposta > p {
    margin: 0;
    font-family: "Sniglet", sans-serif;
    color: #6C23CC;
}


.faq_resposta.show {
    display: block;
}

/* ---------- Botão para voltar ao topo ---------- */

#voltar_ao_topo {
  display: none; 
  position: fixed;
  bottom: 20px;
  right: 20px;
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
#voltar_ao_topo.show {
  display: block;
}