@import url('https://fonts.googleapis.com/css2?family=Hepta+Slab:wght@1..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hepta+Slab:wght@1..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Sniglet&display=swap');

* {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  padding: 0px;
  margin: 0px;
}

/* ---------- Cabeçalho ---------- */

header {
  height: 140px;
  background-color: #8ad868;
  box-shadow: black 1px 1px 4px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav {
  height: 22px;
  width: 480px;
  display: flex;
  justify-content: space-around;
}

nav > a{
  font-size: 20px;
  text-decoration: none;
  color: white;
}

nav > a:hover {
  color: black;
}

header > aside {
  padding: 0px 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

aside > img{
  height: 60px;
  width: 60px;
}

#marca_header {
  font-size: 24px;
  font-family: 'Hepta Slab', serif;
  color: #4A85E8;
}

#slogan_header {
  font-size: 14px;
  color: white;
}

/* ---------- Body ---------- */

article {
  height: 400px;
  background-color: #6C23CC;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

#primeiro_artigo {
  width: 600px;
}

#primeiro_artigo > h1 {
  padding-bottom: 40px;
  font-size: 60px;
  font-family: 'Sniglet', sans-serif;
  color: white;
}

#primeiro_artigo > p {
  font-size: 20px;
  font-family: 'Sniglet', sans-serif;
  color: white;
}

figure > img {
  height: 350px;
  width: 550px; 
  border-radius: 1400px 500px;
}

#atributos {
  height: 260px;
  width: 80%;
  margin: 20px auto;
  background-color: white;
  border-radius: 10px;
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  box-shadow: 2px 2px 10px black;
}

.atributos_box {
  height: 200px;
  width: 300px;
}

.atributos_box > h1 {
  width: 100px;
  margin: auto;
  padding-bottom: 40px;
  color: #6C23CC;
  font-size: 24px;
  font-family: 'Sniglet', sans-serif;
}

.atributos_box > p {
  color: #6C23CC;
  font-family: 'Sniglet', sans-serif;
  text-align: center;
}

#veterinarios {
  width: auto;
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  padding-bottom: 20px;
}

#veterinarios > h1 {
  margin: auto;
  font-size: 18px;
  font-family: "Sniglet", sans-serif;
  color: red;
}

#veterinarios > h2 {
  margin: auto;
  font-size: 34px;
  font-family: "Sniglet", sans-serif;
  color: #6C23CC;
}

#doutores {
  padding: 20px;
  display: flex;
  justify-content: space-around;
}

#doutores > li {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style-type: none;
  font-size: 18px;
  font-family: "Sniglet", sans-serif;
  color: red;
}

li > h1 {
  font-size: 22px;
  font-family: "Sniglet", sans-serif;
  color: #6C23CC;
  padding-top: 20px;
}

li > img {
  height: 300px;
  width: 350px;
  background-color: rgb(224, 224, 224);
  border-radius: 10px;
}

li > img:hover {
  outline: 1px solid black;
  box-shadow: 2px 2px 8px black;
  cursor: pointer;
}

#veterinario {
  width: auto;
  display: flex;
  flex-direction: column;
  padding-bottom: 20px;
}

#veterinario > h1 {
  margin: auto;
  font-size: 18px;
  font-family: "Sniglet", sans-serif;
  color: red;
}

#veterinario > h2 {
  margin: auto;
  font-size: 34px;
  font-family: "Sniglet", sans-serif;
  color: #6C23CC;
}

.assistentes {
  display: flex;
  justify-content: space-around;
  padding: 20px;
  list-style-type: none;
}

.assistentes > li {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style-type: none;
  font-size: 18px;
  font-family: "Sniglet", sans-serif;
  color: red;
}

/* ---------- Footer ---------- */

footer {
  height: 200px;
  padding: 20px;
  background-color: white;  
}

footer > div {
  height: 200px;
  width: 1200px;
  margin: auto;
  background-color: white;
  border-radius: 10px;
  box-shadow: black 2px 2px 4px;
  display: flex;
  justify-content: space-evenly;
  align-items: baseline;
}

div > p, dl {
  position: relative;
  top: 15%;
}

div > p {
  width: 240px;
  font-family: "Sniglet", sans-serif;
  font-size: 30px;
  font-weight: 300;
  color: #6C23CC;
}

dt {
  margin-bottom: 14px;
  font-size: 20px;
  font-family: "Sniglet", sans-serif;
  color: red;
}

dd {
  padding: 4px;
  color: #6C23CC;
  font-size: 18px;
}

#fav_footer {
  padding-right: 10px;
  height: 18px;
}

/* ---------- Botão para voltar ao topo ---------- */

#voltar_ao_topo {
  display: none; 
  position: fixed;
  bottom: 20px;
  right: 20px;
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
#voltar_ao_topo.show {
  display: block;
}

/* ---------- Responsivo para tablet ---------- */

@media (min-width: 768px) and (max-width: 1023px) {

#marca_header {
  width: 180px;
  font-size: 20px;
}

aside > img {
  height: 50px;
  width: 50px;
}

header > aside {
  padding: 0px 40px;
}

nav {
  width: 60%;
}

#primeiro_artigo {
  width: 300px;
}

#primeiro_artigo > h1 {
  padding-bottom: 20px;
  font-size: 30px;
}

#primeiro_artigo > p {
  font-size: 16px;
}

figure > img {
  height: 250px;
  width: 400px; 
  border-radius: 1400px 500px;
}

#atributos {
  height: 300px;
  width: 90%;
  margin: 20px auto;
}

.atributos_box {
  height: 200px;
  width: 200px;
}

.atributos_box > h1 {
  width: 100px;
  margin: auto;
  padding-bottom: 40px;
  color: #6C23CC;
  font-size: 24px;
  font-family: 'Sniglet', sans-serif;
}

li > h1 {
  font-size: 20px;
}

li > img {
  height: 200px;
  width: 200px;
  background-color: rgb(224, 224, 224);
  border-radius: 10px;
}

#doutores > li {
  font-size: 16px;
}

footer > div {
  height: 200px;
  width: 100%;
}

div > p {
  width: 30%;
  font-size: 22px;
}

dt {
  font-size: 16px;
}

dd {
  font-size: 14px;
}

}

/* ---------- Responsivo para mobile ---------- */

@media (max-width: 767px) {

#marca_header {
  width: 180px;
  font-size: 20px;
}

aside > img {
  height: 50px;
  width: 50px;
}

header > aside {
  padding: 0px 40px;
}

nav {
  width: 60%;
}

#primeiro_artigo {
  width: 300px;
}

#primeiro_artigo > h1 {
  padding-bottom: 20px;
  font-size: 30px;
}

#primeiro_artigo > p {
  font-size: 16px;
}

figure > img {
  height: 250px;
  width: 300px; 
  border-radius: 1400px 500px;
}

#atributos {
  height: 300px;
  width: 90%;
  margin: 20px auto;
}

.atributos_box {
  height: 200px;
  width: 200px;
}

.atributos_box > h1 {
  width: 100px;
  margin: auto;
  padding-bottom: 40px;
  color: #6C23CC;
  font-size: 24px;
  font-family: 'Sniglet', sans-serif;
}

li > h1 {
  font-size: 20px;
}

li > img {
  height: 200px;
  width: 200px;
  background-color: rgb(224, 224, 224);
  border-radius: 10px;
}

#doutores > li {
  font-size: 16px;
}

footer > div {
  height: 200px;
  width: 100%;
}

div > p {
  width: 30%;
  font-size: 22px;
}

dt {
  font-size: 16px;
}

dd {
  font-size: 14px;
}

}